<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="FileBrowser_e4"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/FileBrowser_e4/css/default.css">
         </property>
         <property
               name="appName"
               value="FileBrowser_e4">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="filebrowser_e4.Utils.E4_ConsoleFactory"
            label="label">
      </consoleFactory>
   </extension>

</plugin>
