<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="FileBrowser_e4"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/FileBrowser_e4/css/default.css">
         </property>
         <property
               name="appName"
               value="FileBrowser_e4">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="filebrowser_e4.Editors.TextEditor"
            file-extensions="txt"
            id="FileBrowser_e4.content-type.text"
            name="text"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="filebrowser_e4.Editors.TextEditor"
            id="FileBrowser_e4.textEditor"
            name="TextEditor"
            restorable="true">
      </e4view>
   </extension>

</plugin>
